html
{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after
{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body
{
  height: 100%;
}

img
{
  max-width: 100%;
}

/*
  Text
==============================*/

.text
{
  line-height: 1.6rem;
  color: #fff;
}

.text-container
{
  background-color: #888;
  padding:  50px 80px;
  position: relative;
  min-height: 100vh;
}

.caption span
{
  line-height: 2em;
}

/*
  Parallax
==============================*/

.img1
{
  background-image: url('img/moving-truck.png');
}

.img2
{
  background-image: url('img/moving.jpg');
}

.parallax
{
  min-height: 500px;
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

span.arrow
{
  bottom: 1rem;
  left:0;
  position: absolute;
  width:100%;
  text-align: center;
}

.caption
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    margin: 1rem 0;
}

.caption span.border
{
    background-color: #4d7de1;
    color: #fff;
    padding: 1rem;
    font-size: 1.4em;
}

.arrow img
{
    border-radius: 100%;
    cursor: pointer;
    background-color: #888;
}

.arrow img:hover
{
    background-color: #4d7de1;
    transform: scale(1.1);
}

/*
  Top bar
==============================*/
.menu-button
{
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  background: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}

.head-wrap
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(110, 110, 110, 0.8);
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}


.heading
{
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.1rem;
  color: white;
  text-align: left;
  font-family: 'Black Ops One', cursive;
  width: auto;
  max-width: 100%;
  font-size: 0.5em;
}

/*
  Navigation
==============================*/

.main-nav ul
{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  list-style-type: none;
  justify-content: flex-end;
  flex-direction: column;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.main-nav li,
.main-nav a
{
  width: 100%;
  display: block;
}

.main-nav a,
.main-nav span
{
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}

.main-nav #menu-title
{
  margin-top: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.7em;
  border-bottom: 1px solid white;
}

.nav-list-item
{
  /*border: 1px solid white;*/
}

.main-nav a
{
  font-size: 1.3em;
  text-align: center;
}

@media (max-width: 400px)
{
  .menu-button
  {
    height: 50px;
    width: 50px;
  }
  h1
  {
    width: 90%;
  }
}

@media (max-width: 599px)
{
  .main-nav li:not(:last-child)
  {
    margin-bottom: 3rem;
  }
  .nav-container.open
  {
    display: block;
    height: 100vh;
  }
  .nav-container
  {
    display: none;
  }
  .text-container
  {
    background-color: #888;
    padding:  15px 21px;
  }
  .arrow
  {
    display: none;
  }
  .parallax
  {
    background-attachment: scroll;
  }
}

@media (min-width: 600px)
{
  .heading
  {
    font-size: 1rem;
  }
  .main-nav ul
  {
    flex-direction: row;
    font-size: 1rem;
    max-width: 650px;
  }
  .menu-button
  {
    display: none;
  }

  .caption span.border
  {
    font-size: 1.5em;
  }

  .main-nav li
  {
    border-radius: 5px;
  }

  .main-nav li:not(:last-child)
  {
    margin-right: 1rem;
  }
  .parallax
  {
    min-height: 95vh;
  }

  .main-nav .selected a
  {
    border-bottom: 2px solid #fff;
    pointer-events: none;
  }

  .main-nav #menu-title
  {
    display: none;
  }

  .parallax
  {
    background-position: right center;
  }

}

@media (min-width: 1070px)
{
  .main-nav a
  {
    font-size: 1rem;
  }
  .nav-container
  {
    width: 40%;
    max-width: 500px;
  }
  .heading
  {
    display: inline-flex;
    width: 60%;
    align-items: center;
    margin-left: 2rem;
  }
  .head-wrap
  {
    display: flex;
  }
  span
  {
    line-height: 1em;
  }

  .main-nav .selected a
  {
    border-bottom: 3px solid #fff;
  }
  .main-nav li:hover:not(.selected)
  {
    transform: scale(1.1);
    background-color: #4d7de1;
  }
}
