html
{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after
{
  box-sizing: inherit;
}

img
{
  max-width: 100%;
}

p {
  margin-bottom: 2em;
}

ul, ol{
  list-style: none;
}

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    font-family: inherit;
    vertical-align: baseline;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 800;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
/*
buttons
*/

ul.btn-group {
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

ul.btn-group li {
    display: inline-block;
    padding: 0 1.5em 0 0;
    vertical-align: middle;
}

ul.btn-group li:last-child {
    padding-right: 0;
}

.btn {
      transition: background-color .2s ease-in-out,color .2s ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    line-height: 3.125em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.primary,
.btn.primary
{
background-color: #4d7de1 !important;
color: #fff !important;
}

button.primary:hover,
.btn.primary:hover {
  background-color: #6eaef2 !important;
}

#parallax .btn.primary {
  box-shadow: unset;
}

/*
header
*/

#header
{
  transition: background-color 0.25s;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  line-height: 2.5em;
  background-color: #202030;
}

#header h1
{
  transition: opacity 0.25s;
  position: absolute;
  height: inherit;
  top: 0;
  left: 1.25em;
  vertical-align: baseline;
  font-size: 15pt;
  line-height: 2.5em;
}

#header h1 a
{
    display: block;
    height: inherit;
    line-height: inherit;
}

#header nav {
    height: inherit;
    line-height: inherit;
    position: absolute;
    right: 0;
    top: 0;
}

#header nav a {
    border: 0;
    color: #fff;
    display: block;
    font-size: 0.8em;
    padding: 0 1.5em;
    text-transform: uppercase;
    padding-top: 0.25em;
    height: 3.5em;
    text-decoration: none;
}

#header nav a span {
  margin-right: 0.5em;
  vertical-align: bottom;
}

#header nav a::after
{
    background-image: url(img/menu-white.svg);
    background-position: right center;
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 36px;
}

/*
header hidden
*/

#header.hide
{
  background-color: transparent;
}

#header.hide h1
{
  pointer-events: none;
  opacity: 0;
}

/*
Parallax
*/

#parallax
{
  display: flex;
  background-image: linear-gradient(45deg, lightskyblue, blue);
  background-repeat: no-repeat;
  background-origin: center;
  background-size: cover;
  height: 100vh;
  min-height: 30em;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: white;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
}

#parallax h2 img {
  border-radius: 1em;
  margin-bottom: 2em;
}

.more {
  -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border: none;
    bottom: 0;
    color: inherit;
    font-size: 0.8em;
    height: 4.5em;
    left: 50%;
    margin-left: -8em;
    opacity: 1;
    outline: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 16em;
    z-index: 1;
    padding-top: 0.75em;
}

.more::after {
  background-image: url("img/down-arrow-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0.5em;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: 0 0 0 -0.75em;
    position: absolute;
    width: 1.5em;
}

/*.blue-bg
{
  background-color: #4d7de1;
}*/

/*
wrapper
*/

.wrapper
{
  line-height: 1.75em;
  padding: 6em 0em 4em 0em;
  }

.wrapper .box {
  max-width: 90%;
  margin: 0 auto;
  }

.wrapper .box span,
.wrapper .box p,
.wrapper .box h3 {
    color: rgba(0, 50, 50, 0.8);
  }

/*
  components
*/

.list {
  list-style: initial;
}

.grid-view {
  padding: 0;
  margin: 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.grid-view>li {
    padding: 3em 3em 2em 5em;
    display: block;
    position: relative;
    text-align: left;
    width: 50%;
}

/*
  Color Schemes
*/

.theme-1
{
 background-color: #01BAEF;
 color: #fff;
}

.theme-2
{
background-color: #202030;
color: #fff;
}

.theme-3
{
background-color: #874000;
color: #fff
}

/*
  Icon
*/

.icon {
  font: normal normal normal 32px/1 FontAwesome;
  font-size: inherit;
  line-height: 1.25em;
}

.icon::before {
  position: absolute;
  top: 1.5em;
  left: 1em;
  font-size: 2em;
}

.icon h3,
.icon span {
  font-family: "Roboto", sans-serif;
}

.grid-view>li:nth-child(1) {
  background-color: rgba(0,0,0,0.1);
}

.grid-view>li:nth-child(2) {
  background-color: rgba(0,0,0,0.125);
}

.grid-view>li:nth-child(3) {
  background-color: rgba(0,0,0,0.15);
}

.grid-view>li:nth-child(4) {
  background-color: rgba(0,0,0,0.175);
}

@media screen and (min-width: 1000px) {

  #parallax
  {
    background-attachment: fixed;
  }

@media screen and (max-width: 1240px) {
  .wrapper {
    padding: 6em 0.5em 4em 0.5em;
  }
  .grid-view>li {
    padding: 4em 4em 2em 6em;
  }
}

}
@media screen and (max-width: 980px) {
  body {
    font-size: 1.3em;
  }
  .wrapper {
      padding: 3em 2em;
  }
}

@media screen and (max-width: 900px) {

  .wrapper {
      padding: 2em 1em;
  }

    .icon::before {
    position: static;
    text-align: center;
    display: block;
    margin-bottom: 1em;
    font-size: 2em;
  }

  .grid-view>li {
    padding: 3em 2em;
}

}

@media screen and (max-width: 768px) {
  #header nav a span,
  .more {
    display: none;
  }

  .grid-view>li {
    padding: 3em 2em;
    text-align: center;
    width: 100%;
    background-color: transparent !important;;
  }

  .grid-view>li:not(:last-child) {
    border-bottom: 2px rgba(0,0,0,0.6) solid;
  }

  body{
    font-size: 1.1em;
  }

  #parallax {
    padding: 5em 1em 3em 1em;
    height: auto;
    min-height: 0;
  }
  .wrapper {
    padding: 3em 2em 2em 2em;
  }
}